{% extends "portfolio/base_template_header.html" %}
{% load staticfiles %}


{% block page_title %}Zacharilius - Projects {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">

{% endblock %}
{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>Project Portfolio</h1>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col "></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="picture-container">
            <img src="{% static 'projects/images/odd-job_DesktopView.png' %}" id="odd-job-desktop-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue"/>
            <img src="{% static 'projects/images/odd-job_TabletView.png' %}" id="odd-job-tablet-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue" style="display: none;"/>
            <img src="{% static 'projects/images/odd-job_PhoneView.png' %}" id="odd-job-mobile-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue" style="display: none;"/>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect zws-screen is-active" id="odd-job-desktop-button">
            <i class="material-icons">desktop_mac</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect zws-screen" id="odd-job-tablet-button">
            <i class="material-icons">tablet_mac</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect zws-screen" id="odd-job-mobile-button">
            <i class="material-icons">phone_iphone</i>
        </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1 class="title">Odd-Job</h1>

        <p class="project-text">Odd-Job is a job posting site that specializes in odd jobs. It allows users to
            find and
            post odd-jobs around the Greater Seattle Area.</p>

        <p><span class="technologies">HTML5</span><span class="technologies">AngularJS</span><span
                class="technologies">GoogleMapsAPI</span>
            <span class="technologies">Google Endpoints</span><span class="technologies">Java</span><span
                    class="technologies">Oauth 2.0</span>
            <span class="technologies">JavaScript</span><span class="technologies">CSS3</span></p>
        <a href="https://www.github.com/zacharilius/odd-job">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <span class="icon-github" aria-hidden="true"></span> GitHub
            </button>
        </a>
        <a href="https://odd-job.appspot.com">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                <span aria-hidden="true">
                    <img class="project-button-img" src="{% static 'projects/images/odd-job.png' %}">
                </span> Odd-Job
            </button>
        </a>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col "></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="picture-container">
            <img src="{% static 'projects/images/odd-job_DesktopView.png' %}" id="odd-job-desktop-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue"/>
            <img src="{% static 'projects/images/odd-job_TabletView.png' %}" id="odd-job-tablet-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue" style="display: none;"/>
            <img src="{% static 'projects/images/odd-job_PhoneView.png' %}" id="odd-job-mobile-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue" style="display: none;"/></div>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="odd-job-desktop-button">
            <i class="material-icons">desktop_mac</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="odd-job-tablet-button">
            <i class="material-icons">tablet_mac</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="odd-job-mobile-button">
            <i class="material-icons">phone_iphone</i>
        </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1 class="title">Odd-Job</h1>

        <p class="project-text">Odd-Job is a job posting site that specializes in odd jobs. It allows users to
            find and
            post odd-jobs around the Greater Seattle Area.</p>

        <p><span class="technologies">HTML5</span><span class="technologies">AngularJS</span><span
                class="technologies">GoogleMapsAPI</span>
            <span class="technologies">Google Endpoints</span><span class="technologies">Java</span><span
                    class="technologies">Oauth 2.0</span>
            <span class="technologies">JavaScript</span><span class="technologies">CSS3</span></p>
        <a href="https://www.github.com/zacharilius/odd-job">
            <button type="button" class="btn btn-default btn-md">
                <span class="icon-github" aria-hidden="true"></span> GitHub
            </button>
        </a>
        <a href="https://odd-job.appspot.com">
            <button type="button" class="btn btn-default btn-md">
                        <span aria-hidden="true">
                            <img class="project-button-img" src="{% static 'projects/images/odd-job.png' %}">
                        </span> Odd-Job
            </button>
        </a>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col "></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="picture-container">
            <img src="{% static 'projects/images/odd-job_DesktopView.png' %}" id="odd-job-desktop-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue"/>
            <img src="{% static 'projects/images/odd-job_TabletView.png' %}" id="odd-job-tablet-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue" style="display: none;"/>
            <img src="{% static 'projects/images/odd-job_PhoneView.png' %}" id="odd-job-mobile-pic"
                 class="picture-container img-responsive odd-job-pic"
                 alt="Right Image Issue" style="display: none;"/></div>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="odd-job-desktop-button">
            <i class="material-icons">desktop_mac</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="odd-job-tablet-button">
            <i class="material-icons">tablet_mac</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="odd-job-mobile-button">
            <i class="material-icons">phone_iphone</i>
        </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1 class="title">Odd-Job</h1>

        <p class="project-text">Odd-Job is a job posting site that specializes in odd jobs. It allows users to
            find and
            post odd-jobs around the Greater Seattle Area.</p>

        <p><span class="technologies">HTML5</span><span class="technologies">AngularJS</span><span
                class="technologies">GoogleMapsAPI</span>
            <span class="technologies">Google Endpoints</span><span class="technologies">Java</span><span
                    class="technologies">Oauth 2.0</span>
            <span class="technologies">JavaScript</span><span class="technologies">CSS3</span></p>
        <a href="https://www.github.com/zacharilius/odd-job">
            <button type="button" class="btn btn-default btn-md">
                <span class="icon-github" aria-hidden="true"></span> GitHub
            </button>
        </a>
        <a href="https://odd-job.appspot.com">
            <button type="button" class="btn btn-default btn-md">
                        <span aria-hidden="true">
                            <img class="project-button-img" src="{% static 'projects/images/odd-job.png' %}">
                        </span> Odd-Job
            </button>
        </a>
    </div>
</div>
<!--
    <div class="project">
        <div class="row">
            <div class="col-md-3 ">
                <h1 class="title">JavaScript Program A Day</h1>

                <p class="project-text">I want to become a JavaScript ninja so I'm challenging myself to do a
                    new JavaScript program everyday for a year. The code is hosted on GitHub and the projects can be
                    found
                    by following the link below. If you have any project requests, comments, or questions, click the
                    contact
                    button in the navigation bar to message me. </p>

                <p><span class="technologies">NodeJS</span><span class="technologies">AngularJS</span><span
                        class="technologies">GoogleMapsAPI</span>
                    <span class="technologies">JavaScript</span><span class="technologies">ExpressJS</span></p>
                <a href="https://github.com/Zacharilius/web-app-a-day-challenge">
                    <button type="button" class="btn btn-default btn-md">
                        <span class="icon-github" aria-hidden="true"></span> GitHub
                    </button>
                </a>
                <a href="#/projects/web-app-a-day-challenge">
                    <button type="button" class="btn btn-default btn-md">
                        <span class="icon-rocket" aria-hidden="true"></span> Projects
                    </button>
                </a>
            </div>
            <div class="col-sm-8">
                <div class="picture-container"><img class="picture-item project-image img-responsive"
                                                    src="/images/project/mondrain.png" alt="Image Issue"></div>
            </div>
            <div hidden class="col-md-8">
                <div class="picture-container"><img class="picture-item project-image img-responsive"
                                                    ng-src="{{p2image}}" alt="Right Image Issue"></div>
            </div>
            <div hidden class="col-md-1">
                <div ng-click='setImage("p2", "desktop")' class="screenType btn" ng-class="isActive('p2', 'desktop')">
                    <span class="icon-display"></span></div>
                <div ng-click='setImage("p2", "tablet")' class="screenType btn" ng-class="isActive('p2', 'tablet')">
                    <span class="icon-tablet"></span></div>
                <div ng-click='setImage("p2", "mobile")' class="screenType btn" ng-class="isActive('p2', 'mobile')">
                    <span class="icon-mobile2"></span></div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}

{% block script %}
<script src="{% static 'projects/js/projects.js' %}"></script>

{% endblock %}