body{
  overflow-y: scroll;
}
.zwb-navigation{
}
.zwb-navigation a{
    text-transform: uppercase;
    border-bottom: 3px solid transparent;

}
.mdl-navigation__link{
    opacity: .8;
}
.mdl-layout__header-row a:hover,
.mdl-layout__header-row a:active {
    opacity: 1;
}
.is-active{
    opacity: 1;
    border-bottom-color: #FFC107 !important;
}
.mdl-layout__header{
    background-color: #00796B;
}
