{% extends "portfolio/base_template_header.html" %}
{% load staticfiles %}

{% block page_title %}Zacharilius {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}
{% block content %}
<div class="center-text">
	<h1 class='title'>Zachary Bensley</h1>
	<h2 class='sub-title'>Full Stack Developer</h2>
</div>

<div class="image-cropper">
	<img class="center-image" alt="seattleSkyline" id="seattlePic" src="{% static 'portfolio/images/sampleSeattleSkyline.png' %}"/>
</div>

{% endblock %}